streamlit
pandas
numpy
psutil
openpyxl
python-dotenv
huggingface-hub
openai
sklearn.impute
SimpleImputer
sklearn.preprocessing
StandardScaler
logging
sklearn.cluster
KMeans
sklearn.metrics
silhouette_score
pycaret.clustering
json
PIL
image
base64
